.accordion-list {
    &-item {
        &:not(:last-of-type) {
            border-bottom: 2px color(gray, medium) solid;
        }
        .title {
            @include toRem(font-size, 16);
            color: color(orange, base);
            @include toRem(letter-spacing, 2);
            cursor: pointer;
            text-transform: uppercase;
            [class*="fa"] {
                color: color(gray, medium);
                &[class*="minus"] {
                    color: color(orange, base);
                }
            }
        }
        .text {
            @include toRem(font-size, 14);
            ul, ol,
            p {
                font-size: inherit !important;
                &:not(:first-child) {
                    margin-top: 1rem;
                }
            } 
            ul, ol {
                list-style: disc;
                padding-left: 18px;
            }          
        }
    }
}